{%- doc -%}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{%- enddoc -%}

{% assign block_settings = block.settings %}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    size-style
    {{ block_settings.style_class }}
    {{ block_settings.style_class }}--{{ block.id }}
    button-with-arrow
  "
  style="{% render 'size-style', settings: block_settings %}"
  {%- if block_settings.open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ block.shopify_attributes }}
>
  <span class="button-content">
    {{ block_settings.label }}
    <span class="arrow-container">
      <img src="{{ '//cdn.shopify.com/s/files/1/0766/8370/6598/files/Arrow_1.png?v=1756395937' | asset_url }}" alt="" class="arrow-default" loading="lazy">
      <img src="{{ '//cdn.shopify.com/s/files/1/0766/8370/6598/files/Arrow_1.png?v=1756395937' | asset_url }}" alt="" class="arrow-hover" loading="lazy">
    </span>
  </span>
</a>

{% stylesheet %}
  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-hover);
      text-decoration-color: transparent;
    }
  }
  
  .button-with-arrow {
    display: inline-flex;
    align-items: center;
    position: relative;
  }
  
  .button-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .arrow-container {
    display: inline-flex;
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .arrow-default,
  .arrow-hover {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
  }
  
  .arrow-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  
  .button-with-arrow:hover .arrow-default {
    opacity: 0;
  }
  
  .button-with-arrow:hover .arrow-hover {
    opacity: 1;
  }
{% endstylesheet %}

{% render 'button', link: block.settings.link %}